@charset "utf-8";

/* HTML and Body styles */



body {background-color: white; 
      height:100%;
      background-size:cover;
}

h1 {
    text-align: center;
}

/* Footer styles */
footer {
    
    text-align: center;
    color: black;   
   
}


